# NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YnJpZWYtdGVycmFwaW4tODcuY2xlcmsuYWNjb3VudHMuZGV2JA
# CLERK_SECRET_KEY=sk_test_WS1MXlw21P2rTb8od0JLLfPGbJbqHdRwFoGL8SSVky
# NEXT_PUBLIC_CLERK_SIGN_IN_URL=/signin
# NEXT_PUBLIC_CLERK_SIGN_UP_URL=/signup
# NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
# NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard


# NEXT_PUBLIC_APP_DOMAIN_NAME=http://localhost:3000
# NEXT_PUBLIC_APP_HOSTNAME=vercel.app


# DATABASE_URL=mongodb+srv://proxyxdshorts69:wy0wxDll78yw6xdN@cluster0.x2evg.mongodb.net/linkora?retryWrites=true&w=majority&appName=Cluster0


# # Get your OpenAI API key here: https://platform.openai.com/account/api-keys
# OPENAI_API_KEY=
# # OPTIONAL: OpenAI Base URL (default to https://api.openai.com/v1)
# OPENAI_BASE_URL=

# # OPTIONAL: Vercel Blob (for uploading images)
# # Get your Vercel Blob credentials here: https://vercel.com/docs/storage/vercel-blob/quickstart#quickstart
# BLOB_READ_WRITE_TOKEN="vercel_blob_rw_mXl29otUPu2hlDOC_ZudIGa7vc0itkpAg34hjTtwyp6SW1s"

# # OPTIONAL: Vercel KV (for ratelimiting)
# # Get your Vercel KV credentials here: https://vercel.com/docs/storage/vercel-kv/quickstart#quickstart
# KV_REST_API_URL=
# KV_REST_API_TOKEN=